.header{
    background-color: black;

}
.bar{
    display: flex;
    /* padding: 10px; */
  }
  
.bar > *{
    margin-top: 20px;
    margin-left: 20px;
    /* background-color: white; */
    font-size: 35px;
    padding: 5px;
    border-radius: 6px;
}

a{
    text-decoration: none;
    color: white;
}